# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaApplication141/nbproject/private/
/Lab2.1_Gabriel_alvarado/nbproject/private/
/Lab2.1_Gabriel_Alvarado/nbproject/private/
/Laboratorio2_Gabriel_Alvarado/nbproject/private/
/Laboratorio2_Gabriel_Alvarado/build/